<ion-header [translucent]="true">

  <ion-toolbar>
    <!-- back button -->
    <ion-buttons slot="start" [routerLink]="['/lista-productos']">
      <ion-icon :icon="arrow-back-circle-outline"></ion-icon>
      Back
    </ion-buttons>
    <!-- titulo de pagina -->
    <ion-title>Detalle del Producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>

  <ion-img [src]="producto?.imagen"></ion-img>
  <ion-card-header>
    <ion-card-title>
      <div [innerHTML]="producto?.nombre"></div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div [innerHTML]="producto?.descripcion"></div>
  </ion-card-content>

</ion-card>

<ion-toolbar>
  <!-- plus button -->
  <ion-buttons slot="start">
    <ion-button size="Large" (click)="restar()">
      <ion-icon :icon="remove-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- name -->
  <ion-title [style]="'text-align:center;'">
    
      {{cantidad}}
    
  </ion-title>
  <!-- minus button -->
  <ion-buttons slot="end">
    <ion-button size="Large" (click)="sumar()">
      <ion-icon :icon="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-footer>

  <!-- botton agregar al carro -->
  <ion-button expand="block" (click)="agregarCarrito()">
    <ion-icon :icon="cart-outline"></ion-icon>
    Agregar al Carrito
  </ion-button>
</ion-footer>